<input
  class="{{ css_class }}"
  id="{{ name }}"
  name="{{ name }}"
  type="{{ type ? type : 'text' }}"
  @if(placeholder)
    placeholder="{{ placeholder }}"
  @endif
  @if(value)
    value="{{ value }}"
  @endif
  {{ required ? 'required' : null }}
>